* {
	margin: 3px;
	padding: 0px;
}

input[type="button"]{
	border-radius: 0%;
	margin: 5px;
	padding: 2px;
	background-color: white;
	border: 1px solid black;
}
input[type="button"]:hover{
	background-color: #DBDBDB;
	cursor: pointer;
}